<div class="tw-flex tw-flex-row tw-m-24-px navbar">
    <section class="trending-subjects">
      <ul class="tw-list-none tw-pl-0">
        <button id="home-btn" (click)="goToHome()"><i class="fa fa-home" aria-hidden="true"></i> Home</button>
        <button id="search-btn"  (click)="searchSubject()"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        <input type="text" *ngIf="navSearchBar" class="form-control" placeholder="Search Subjects" [(ngModel)]="term">
        <div class="tw-font-600 tw-text-24-px navbar-header">Trending Subjects</div>
        <li class="tw-text-16-px tw-cursor-pointer tw-p-12-px" *ngFor="let subject of trendingSubjects | filter:term"
          routerLink="/trending-subject/{{ subject.name }}">
          {{ subject.name }}
        </li>
      </ul>
    </section>
  </div>