.table-view {
  @apply
  tw-w-full
  tw-overflow-hidden
  tw-border-collapse
  tw-p-12-px
  tw-table-auto
}

.table-row {
  @apply
  tw-h-60-px
  tw-border
  tw-border-solid
  tw-border-light-border
  tw-bg-table-header-bg
  tw-pl-12-px;

  .header {
    @apply
    tw-text-start
    tw-w-1/3
    tw-border-r
    tw-border-l-0
    tw-border-b-0
    tw-border-t-0
    tw-border-solid
    tw-border-light-border
  }

}

.table-body {
  @apply
  tw-border
  tw-border-solid
  tw-border-light-border
  tw-border-t-0;

  .row-data {
    @apply
    tw-h-40-px
    tw-border-b
    tw-border-l-0
    tw-border-r-0
    tw-border-t-0
    tw-border-solid
    tw-border-light-border
  }
}

.table-view{
  width: 100%;
}
thead{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
th{
  background-color: #b9f2ee;
  font-size: 1.5rem;
  padding: .5% 2%;
 
}
td, a, .author{
  font-size: 1.3rem;
}
tr{
  padding: auto 2%;
}
td{
  padding: .5% 2%;
}
td:hover{
  background-color: rgb(230, 230, 230);
}
.total-books{
  margin: 2% auto;
}
