<div class="tw-m-24-px">
  <div class="tw-mb-24-px tw-text-24-px" *ngIf="displayTrendingSubjectsBook">
    Top {{ booksList.length }} book{{ booksList.length > 1 ? "s" : "" }} on {{ subjectName }}
  </div>
  <ng-container>
  <div *ngIf="!displayTrendingSubjectsBook">
    <p></p>
    <h3 class="total-books">Total Books: {{ totalRecords }} </h3>
  </div>
    <table class="table-view" mat-table >
      <thead>
        
        <tr class="table-row">
          <th class="header">Title and Sub Title</th>
          <th class="header">Author</th>
          <th class="header">First Publish Year</th>
        </tr>
      </thead>
      <tbody class="table-body">
        <tr class="row-data" *ngFor="let book of booksList">
          <td>
            <a class="tw-no-underline" href="https://openlibrary.org{{ book.key }}" target="_blank">{{ book?.title }}</a>
          </td>
          <td>
            <div *ngIf="displayTrendingSubjectsBook" class="author">
              {{ book.authors.length > 0 ? book.authors[0].name : "Unknown" }}
            </div>
            <div *ngIf="!displayTrendingSubjectsBook" class="author">
              {{ book.author_name }}
            </div>
          </td>
          <td>{{ book.first_publish_year }}</td>
        </tr>
      </tbody>
    </table>
   
  </ng-container>
</div>